@charset "UTF-8";
#login_wrap { display: flex; flex-direction: column; align-items: center; text-transform: uppercase; }
#login_frm { width: 400px; }

.frm_wrap { max-width: 400px; padding: 60px 0 50px; color: #353535;}
.frm_wrap input{ max-width: 100%; width: 100%; height: 40px; padding: 2px 4px; margin: 5px 0; border: 1px solid #d5d5d5; border-radius: 5px; }
.frm_wrap > .top_hold { padding: 10px 0 4px; }

.login_submit { color: #353535; }
.login_submit:hover { color: #cbcbcb; }
.login_submit_wrap a { float: right; color: #353535; }
.login_submit_wrap a:hover { color: #cbcbcb; }

.login_find_wrap a { padding-right: 14px; color: #353535; }
.login_find_wrap a:hover { color: #cbcbcb; }

.api_login_btn img { height: 50px; width: 49.5%; }
.facebook_login { border-radius: 5%; }

/* commit test */
/* commit test */
/* commit test #2 */
/* commit test #3 */