@charset "UTF-8";

* { margin: 0; padding: 0; box-sizing: border-box; font: 0.95em 'Roboto Condensed','Nanum Gothic',sans-serif,Dotum,AppleGothic,sans-serif; }
body { width: 100%; height: 100vh; }
ul, ol, li { list-style: none; }
a { text-decoration: none; }
th, td { margin : 10px 5px 20px 0;}
hr {margin-bottom: 10px;}

.bc-white { background-color: #ffffff; }
.bc-black { background-color: #000000; }
.bc-gray { background-color: #808080; }
.bc-yellow { background-color: #fff000; }
.bc-red { background-color: #ff0000; }
.bc-blue { background-color: #000fff; }

.color-white { color: #ffffff; }
.color-black { color: #000000; }
.color-light-black { color: #353535; }
.color-gray { color: #808080; }
.color-silver { color: #c0c0c0; }
.color-light-gray { color: #cccccc; }
.color-red { color: #ff0000; }
.color-yellow { color: #fff000; }
.color-gold { color: #FFD700; }
.color-pink { color: #FFC0CB; }
.color-hot-pink { color: #FF69B4; }
.color-purple { color: #A020F0; }
.color-navy { color: #000080; }
.color-blue { color: #000fff; }
.color-sky { color: #00ffff; }
.color-green { color: #008000; }
.color-lime { color: #00ff00; }
.color-olive { color: #808000; }

.display-b-f-l {display: block; float: left;}

.h-10 { height: 10px; }
.h-20 { height: 20px; }
.h-30 { height: 30px; }
.h-40 { height: 40px; }
.h-50 { height: 50px; }
.h-100 { height: 100px; }
.h-150 { height: 150px; }
.h-200 { height: 200px; }
.h-all { height: 100%; }

.hidden { display: none; }

.m-10 { margin: 10px; }
.m-20 { margin: 20px; }
.m-30 { margin: 30px; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
.m-t-30 { margin-top: 30px; }
.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }
.m-r-30 { margin-right: 30px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-30 { margin-bottom: 30px; }
.m-l-10 { margin-left: 10px; }
.m-l-20 { margin-left: 20px; }
.m-l-30 { margin-left: 30px; }
.m-lr-10 { margin: 0 10px; }
.m-lr-20 { margin: 0 20px; }
.m-lr-30 { margin: 0 30px; }
.m-tb-10 { margin: 10px 0; }
.m-tb-20 { margin: 20px 0; }
.m-tb-20 { margin: 30px 0; }

.p-10 { padding: 10px; }
.p-20 { padding: 20px; }
.p-30 { padding: 30px; }
.p-t-10 { padding-top: 10px; }
.p-t-20 { padding-top: 20px; }
.p-t-30 { padding-top: 30px; }
.p-r-10 { padding-right: 10px; }
.p-r-20 { padding-right: 20px; }
.p-r-30 { padding-right: 30px; }
.p-b-10 { padding-bottom: 10px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-30 { padding-bottom: 30px; }
.p-l-10 { padding-left: 10px; }
.p-l-20 { padding-left: 20px; }
.p-l-30 { padding-left: 30px; }
.p-lr-10 { padding: 0 10px; }
.p-lr-20 { padding: 0 20px; }
.p-lr-30 { padding: 0 30px; }
.p-tb-10 { padding: 10px 0; }
.p-tb-20 { padding: 20px 0; }
.p-tb-30 { padding: 30px 0; }

.pointer { cursor: pointer; }

.text-aline-center { text-align: center; }

.w-10 { width: 10px; }
.w-20 { width: 20px; }
.w-30 { width: 30px; }
.w-40 { width: 40px; }
.w-50 { width: 50px; }
.w-100 { width: 100px; }
.w-150 { width: 150px; }
.w-200 { width: 200px; }
.w-all { width: 100%; }
.w-auto { width: auto; }