@charset "UTF-8";

#header_wrap { position: fixed; top: 0; height: 50px; width: 100%; z-index: 100; text-align: center; }
#wrap{ position: relative; width: 100%; margin: 0 auto; padding: 130px 0; clear: both;  }
#container { margin: 0 auto; }
#contents { width: 75%; margin: 0 auto; min-height: calc(100vh - 300px); text-align: center; }
#footer_wrap { position: absolute; bottom: 0; padding-bottom: 100px; width: 100%; text-align: center; }
