@charset "UTF-8";

/* header */
#header { font-size: 30px; letter-spacing: -0.045em; margin: 20px 0; text-transform: uppercase; }
#header a { color: #353535; }
#header_wrap { position: fixed; top: 0; height: 50px; width: 100%; z-index: 99; text-align: center; }

/* main body */
#wrap{ position: relative; padding: 130px 0; clear: both; }
#container { margin: 0 auto; }
#contents { width: 75%; margin: 0 auto; min-height: calc(100vh - 300px); }

/* footer */
#footer_wrap { position: relative; bottom: 0; padding-bottom: 100px; width: 100%; }
